.btn-group a {
	color: black;
	text-decoration: none;
}

.body {
	background-color: #f5f5f5;
}

#faq-container {
	background-color: white;
	margin-top: -50px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.container .container {
	width: 90%;
}

a h4 {
	color: #f58025;;
}

a:hover h4 {
	color: blue;
	text-decoration-color: blue;
}

.collapse p {
margin-left: 20px;
}
